# dependencies
node_modules

# next
.next

# production
build
dist

# env
.env

# uploads
backend/storage
backend/uploads
backend/chunks

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db